id: octoblu-speech-to-flow-blue-controller
kind: ReplicationController
apiVersion: v1beta1
labels:
  name: octoblu-speech-to-flow-blue
  version: "$SHORT_COMMIT"
desiredState:
  replicas: 2
  replicaSelector:
    name: octoblu-speech-to-flow-blue
    version: "$SHORT_COMMIT"
  podTemplate:
    labels:
      name: octoblu-speech-to-flow-blue
      app: octoblu-speech-to-flow-blue
      version: "$SHORT_COMMIT"
    desiredState:
      manifest:
        version: v1beta1
        id: octoblu-speech-to-flow-blue
        containers:
          - name: octoblu-speech-to-flow-blue
            image: octoblu/octoblu-speech-to-flow:$SHORT_COMMIT
            ports:
              - containerPort: 80

